@page
@model Food_Donation_App.Pages.SignUpModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up - Food_Donation_App</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Food_Donation_App.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="container">
        <h2 class="mt-5">Sign Up</h2>
        <form>
            
            <div class="form-group">
                <label for="inputRestaurantName">Applicant</label>
                <input type="text" class="form-control" id="inputApplicant" placeholder="Enter Applicant" required>
            </div>
            <div class="form-group">
                <label for="inputRestaurantName">Restaurant Name</label>
                <input type="text" class="form-control" id="inputRestaurantName" placeholder="Enter restaurant name" required>
            </div>
            <div class="form-group">
                <label for="inputCR">C/R (Registration Number)</label>
                <input type="text" class="form-control" id="inputCR" placeholder="Enter registration number" required>
            </div>
            <div class="form-group">
                <label for="inputUsername">Username</label>
                <input type="text" class="form-control" id="inputUsername" placeholder="Enter username" required>
            </div>
            <div class="form-group">
                <label for="inputPassword">Password</label>
                <input type="password" class="form-control" id="inputPassword" placeholder="Enter password" required>
            </div>
            <div class="form-group">
                <label for="inputRepeatPassword">Repeat Password</label>
                <input type="password" class="form-control" id="inputRepeatPassword" placeholder="Repeat password" required>
            </div>
            <div class="form-group">
                <label for="inputAddress">Address</label>
                <input type="text" class="form-control" id="inputAddress" placeholder="Enter address" required>
            </div>
            <br />
            <button type="submit" class="btn btn-primary">Sign Up</button>
        </form>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
